networks:
  dev:

services:
  content:
    build:
      context: .
    image: content-service-vmeste
    container_name: content-service-vmeste
    volumes:
      - uploaded_files:/content-service/uploaded_files
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    networks:
      - dev
    env_file:
      - .env

  postgres:
    container_name: postgres_content
    image: postgres:16
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'pass'
      POSTGRES_DB: 'postgres'
    ports:
      - 5433:5432
    networks:
      - dev

volumes:
  pg-data:
  uploaded_files: